Package: ishqip.birdforzeppelin
Name: Bird for Zeppelin
Depends: com.alexzielenski.zeppelin
Architecture: iphoneos-arm
Description: Logo Bird for Zeppelin. SUPPORTS: All iDevice on iOS 4.2 to iOS 9.0.2 Main Tweak required Zeppelin installed. Activate in Zeppelin.
Homepage:
Depiction: http://ishqip.xyz/pages/birdforzeppelin/index.html
Maintainer: iSHQ!P <iPhoneShqip@hotmail.com>
Author: iSHQ!P
Section: Addons (Zeppelin)
Version: 1.0