Package: ishqip.avdesignsaepackallthemes
Name: AVDESIGNS AE Pack [All Themes]
Version: 1.0
Architecture: iphoneos-arm
Author: AVDESIGNS <AVDESIGNSFX@gmail.com>
Description: AE Pack from AVDESIGNS for All Themes
Depiction: http://ishqip.xyz/pages/avdesignsaepackallthemes/index.php
Maintainer: iSHQ!P <iPhoneShqip@hotmail.com>
Section: Themes (Icons Effects & IconOmatic)

